.letters-list {
  display: grid;
  grid-template-columns: 7% 7% 7% 7% 7%;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 50px;
}

.answer-wrapper {
  height: 72px;
}
