* {
  margin: 0;
  padding: 0;
}

body {  
  background: linear-gradient(to bottom, #3ee1ac, #1d2b25);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1020px;  
  margin: 0 auto;
  padding: 0 15px;;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.title {
  margin-bottom: 50px;
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
}

.selected-letters {
  display: flex;
  gap: 12px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;

  color: #fff;
  font-size: 25px;  
  text-transform: uppercase;
}

.selected-letters__item {
  background-color: #6fdd83;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  border-radius: 20px;
	box-shadow: 0 0 5px #6fdd83, 0 0 10px #6fdd83, 0 0 10px #6fdd83, 0 0 40px #6fdd83, 0 15px 15px rgba(0, 0, 0, 0.3);

	transition: 0.5s;
	transition-delay: 0.5;
  transform: scale(1.05);
  cursor: pointer;
}

.letters-list {
  display: grid;
  grid-template-columns: 7% 7% 7% 7% 7%;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.letters-list__item {
  background-color: rgba(255, 255, 255, 0.05);  
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  border-radius: 20px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  
  transition: 0.5s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);   
}

.letters-list__item:hover {
  background-color: #6fdd83;
	box-shadow: 0 0 5px #6fdd83, 0 0 10px #6fdd83, 0 0 10px #6fdd83, 0 0 40px #6fdd83, 0 15px 15px rgba(0, 0, 0, 0.3);
	transition-delay: 0.5;
  transform: scale(1.05);
  cursor: pointer;
}

.letters-list__item--disabled {  
  pointer-events: none;
  box-shadow: none;
  color: #a6a5a5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 50px;
}

.answer-wrapper {
  height: 72px;
}

.btn {
  padding: 15px;

  font-family: 'Libre Baskerville';
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;

  background-color: rgba(17, 131, 164, 0.58);  
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
 
  transition: 0.5s;
}

.btn:hover {
  background-color: #25b1c8;
  box-shadow: 0 0 5px #25b1c8, 0 0 10px #25b1c8, 0 0 10px #25b1c8, 0 0 40px #25b1c8, 0 15px 15px rgba(10, 22, 28, 0.3);
	transition: 0.5s;
	transition-delay: 0.1s;
  transform: scale(1.1); 
  cursor: pointer;
}

.btn:focus {
  background-color: #36c1d8;
  box-shadow: 0 0 5px #25b1c8, 0 0 10px #25b1c8, 0 0 10px #25b1c8, 0 0 40px #25b1c8, 0 15px 15px rgba(10, 22, 28, 0.3);
}

.btn--red {
  background-color: rgba(249, 11, 11, 0.33);
}

.btn--red:hover {
  background-color: #fb5050;
  box-shadow: 0 0 5px #fb5050, 0 0 10px #fb5050, 0 0 10px #fb5050, 0 0 40px #fb5050, 0 15px 15px rgba(10, 22, 28, 0.3);
}

.btn--red:focus {
  background-color: #ee6262;
  box-shadow: 0 0 5px #fb5050, 0 0 10px #fb5050, 0 0 10px #fb5050, 0 0 40px #fb5050, 0 15px 15px rgba(10, 22, 28, 0.3);
}

.cool-skills {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: transparent;  
  text-transform: uppercase;
     
}

.cool-skills::before {
  content: attr(data-text);
  position: absolute;
  top: 13px;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(45deg, #E5EFF2, #49c8eb, #94f69e, #92FE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
  overflow: hidden;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  70% {
    width: 100%;
  } 
  100% {
    width: 100% ;
  } 
}