.cool-skills {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: transparent;  
  text-transform: uppercase;
     
}

.cool-skills::before {
  content: attr(data-text);
  position: absolute;
  top: 13px;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(45deg, #E5EFF2, #49c8eb, #94f69e, #92FE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
  overflow: hidden;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  70% {
    width: 100%;
  } 
  100% {
    width: 100% ;
  } 
}