* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #3ee1ac, #1d2b25);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1020px;  
  margin: 0 auto;
  padding: 0 15px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.btn {
  padding: 15px;

  font-family: 'Libre Baskerville';
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;

  background-color: rgba(17, 131, 164, 0.58);  
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
 
  transition: 0.5s;
}

.btn:hover {
  background-color: #25b1c8;
  box-shadow: 0 0 5px #25b1c8, 0 0 10px #25b1c8, 0 0 10px #25b1c8, 0 0 40px #25b1c8, 0 15px 15px rgba(10, 22, 28, 0.3);
	transition: 0.5s;
	transition-delay: 0.1s;
  transform: scale(1.1); 
  cursor: pointer;
}

.btn:focus {
  background-color: #36c1d8;
  box-shadow: 0 0 5px #25b1c8, 0 0 10px #25b1c8, 0 0 10px #25b1c8, 0 0 40px #25b1c8, 0 15px 15px rgba(10, 22, 28, 0.3);
}

.btn--red {
  background-color: rgba(249, 11, 11, 0.33);
}

.btn--red:hover {
  background-color: #fb5050;
  box-shadow: 0 0 5px #fb5050, 0 0 10px #fb5050, 0 0 10px #fb5050, 0 0 40px #fb5050, 0 15px 15px rgba(10, 22, 28, 0.3);
}

.btn--red:focus {
  background-color: #ee6262;
  box-shadow: 0 0 5px #fb5050, 0 0 10px #fb5050, 0 0 10px #fb5050, 0 0 40px #fb5050, 0 15px 15px rgba(10, 22, 28, 0.3);
}