.selected-letters {
  display: flex;
  gap: 12px;
}

.selected-letters__item {
  background-color: #6fdd83;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  border-radius: 20px;
	box-shadow: 0 0 5px #6fdd83, 0 0 10px #6fdd83, 0 0 10px #6fdd83, 0 0 40px #6fdd83, 0 15px 15px rgba(0, 0, 0, 0.3);

	transition: 0.5s;
	transition-delay: 0.5;
  transform: scale(1.05);
  cursor: pointer;
}